# nvim
config/nvim/packer_compiled.lua

# emacs
config/emacs/backup/
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/var/
config/emacs/eshell/
config/emacs/.lsp-session-v1
config/emacs/custom.el
config/emacs/init.elc

# fish
config/fish/completions/
config/fish/conf.d/
config/fish/fish_plugins
config/fish/fish_variables
config/fish/functions/
config/fish/themes/

# mozc
config/mozc/*.log
config/mozc/boundary.db
config/mozc/segment.db
config/mozc/cform.db
config/mozc/.registry.db
config/mozc/.server.lock
config/mozc/keymap.tsv
config/mozc/ibus_config.textproto
config/mozc/*.ipc

# windows
windows/config/PowerShell/Scripts
