URxvt.scrollBar : false

URxvt.cursorBlink : true

URxvt.visualBell : true

URxvt.fading : 10

URxvt.font : xft:Cascadia Code-9, xft:Noto Sans CJK JP-9

XTerm*termName: xterm-256color

XTerm*locale: true
XTerm*metaSendsEscape: true

XTerm*vt100.backarrowKey: false
XTerm*ttyModes: erase ^?

/* XTerm*reverseVideo: off */

XTerm*borderWidth: 0

XTerm*faceName: Cascadia Code:style=Book:antialias=true
XTerm*faceNameDoublesize: Noto Sans CJK JP
XTerm*faceSize: 10

UXTerm*termname: xterm-256color

UXTerm*locale: true
UXTerm*metaSendsEscape: true

UXTerm*vt100.backarrowkey: false
UXTerm*ttymodes: erase ^?

/* UXTerm*reverseVideo: off */

UXTerm*borderWidth: 0

UXTerm*faceName: Cascadia Code:style=Book:antialias=true
UXTerm*faceNameDoublesize: Noto Sans CJK JP
UXTerm*faceSize: 10

UXTerm*background: #282c34
UXTerm*foreground: #abb2bf

UXTerm*cursorColor: #528bff

UXTerm*color0: #5c6370
UXTerm*color1: #e06c75
UXTerm*color2: #98c379
UXTerm*color3: #e5c07b
UXTerm*color4: #51afef
UXTerm*color5: #c678dd
UXTerm*color6: #56b6c2
UXTerm*color7: #828997
