URxvt.scrollBar : false

URxvt.cursorBlink : true

URxvt.visualBell : true

URxvt.fading : 10

URxvt.font : xft:Cascadia Code-10, xft:Noto Sans CJK JP-10

URxvt.background : #f9f9f9
URxvt.foreground : #000000
