Emacs*UseXIM: false

XTerm*termName: xterm-256color

XTerm*scrollBar: hide

XTerm*locale: true
XTerm*metaSendsEscape: true

XTerm*vt100.backarrowkey: false
XTerm*ttymodes: erase ^?

XTerm*borderWidth: 0

XTerm*faceName: CaskaydiaCove Nerd Font Mono:style=Regular:antialias=true
XTerm*faceNameDoublesize: Noto Sans CJK JP
XTerm*faceSize: 10

XTerm*background: #2e3440
XTerm*foreground: #d8dee9

XTerm*color0:  #3b4252
XTerm*color1:  #bf616a
XTerm*color2:  #a3be8c
XTerm*color3:  #ebcb8b
XTerm*color4:  #81a1c1
XTerm*color5:  #b48ead
XTerm*color6:  #88c0d0
XTerm*color7:  #e5e9f0
XTerm*color8:  #4c566a
XTerm*color9:  #bf616a
XTerm*color10: #a3be8c
XTerm*color11: #ebcb8b
XTerm*color12: #81a1c1
XTerm*color13: #b48ead
XTerm*color14: #8fbcbb
XTerm*color15: #eceff4
