* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Noto Sans CJK JP", sans-serif;
    font-size: 12px;
}

#workspaces {
    background-color: #2e3440;
}

#workspaces button.active {
    background-color: #81a1c1;
    /* active_tab_background */
    color: #232831;
    /* active_tab_foreground */
}

#workspaces button.empty {
    background-color: #3e4a5b;
    /* inactive_tab_background */
    color: #60728a;
    /* inactive_tab_foreground */
}

#workspaces button.visible {
    background-color: #81a1c1;
    /* active_tab_background */
    color: #232831;
    /* active_tab_foreground */
}

#workspaces button.persistent {
    background-color: #3e4a5b;
    /* inactive_tab_background */
    color: #60728a;
    /* inactive_tab_foreground */
}

#workspaces button.special {
    background-color: #a3be8c;
    /* url_color (近い色を選択) */
    color: #2e3440;
    /* background */
}

#workspaces button.urgent {
    background-color: #bf616a;
    /* color1 */
    color: #e5e9f0;
    /* color7 */
}
